!!!
%html
  %head
    %script{:src => "/javascripts/jquery.js", :type => "text/javascript", :charset=>"utf-8"}
    %script{:src => "/javascripts/jquery.svg.js", :type => "text/javascript", :charset=>"utf-8"}
    %script{:src => "/javascripts/app.js", :type => "text/javascript", :charset=>"utf-8"}
  %body
    #inside{:style => 'width:400px; height:400px;'}