<!DOCTYPE HTML> 
<html>
<head>
<title></title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery.js" type="text/javascript" ></script>
<script src="/javascripts/jquery.svg.js" type="text/javascript" ></script>
</head>
<body>
    <div id="target" ></div>
    <svg id="svginline">
        <circle id="circ11" class="area" cx="75" cy="75" r="50" stroke="none" stroke-width="2" fill="red"/>
    </svg>
    <div id="result" >ffff</div>
</body>
</html>